<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Add</title>

  <!-- Primary Meta Tags -->
  <title>Stream Savers</title>
  <meta name="title" content="Add | Stream Savers">
  <meta name="description" content="Create a stream here with videos you want to loop. They will play 24/7 to your YouTube stream for free!">

  <meta name="keywords" content="stream savers,youtube loop streaming,live stream,how to livestream 24/7 on youtube,how to set up a 24 hour live stream on youtube,livestream 24/7 on youtube,stream,24/7 live streaming on youtube,24/7,how to livestream on youtube,live stream 24/7,24/7 worship live stream,live stream 24/7,how to make a 24 hour live stream">
  
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://streamsavers.live/add">
  <meta property="og:title" content="Add | Stream Savers">
  <meta property="og:description" content="Stream Savers is a 100% free service allowing you to loop streams 24/7 and LIVE to YouTube. Add a stream today!">
  <meta property="og:image"
        content="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png?width=57&height=57">
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://streamsavers.live/add">
  <meta property="twitter:title" content="Add | Stream Savers">
  <meta property="twitter:description" content="Stream Savers is a 100% free service allowing you to loop streams 24/7 and LIVE to YouTube. Add a stream today!">
  <meta property="twitter:image" content="">

    <link rel="stylesheet" href="/static/css/base.css" media="screen">

    <link rel="icon" type="image/png"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png" sizes="16x16">
    <link rel="icon" type="image/png"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png" sizes="32x32">
    <link rel="icon" type="image/png"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png" sizes="96x96">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png">
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <script src="https://js.hcaptcha.com/1/api.js" async></script>
    <script src='/socket.io/socket.io.js'></script>
    <script defer src='./static/js/add.js'></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://kit.fontawesome.com/8dc570c5d4.js" crossorigin="anonymous"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PSJQE6EEPD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-PSJQE6EEPD');
  </script>

  <script async src="https://zink.tips/zwc.js?rid=62806aa98451d4c762c64a0d&c=blue"></script>
</head>

<body class="bg-dark">
    <div class="h-captcha" data-sitekey=<%=siteKey%>
        data-callback="onSubmit"
        data-size="invisible"
        ></div>
    <nav class="navbar navbar-expand-md bg-discord navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><b>Stream Savers</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="color: black;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://discord.gg/AmqeuS9hwS" style="color: black;">Support
                            Server</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add" style="color: black;">Stream</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                            style="color: black;">Pricing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="addpage">
        <div class="container" id='details'>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Add Stream (make sure it's scheduled, <a
                                    href="https://www.youtube.com/watch?v=OfpXUnFXeU0">here's why</a>)</h5>
                            <p class="card-text">
                            <form id='keyForm'>
                                <div class="form-group">
                                    <label for="streamKey">Stream Key</label>
                                    <input type="password" class="form-control" id="streamKey" name="streamKey"
                                        placeholder="Enter Stream Key" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="continuebtn btn btn-primary"
                                        onclick="">Continue</button>
                                </div>
                            </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id='videos' hidden>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <iframe class="ytvideo" width="560" height="315"
                                src="https://www.youtube.com/embed/eFC5L13iBn0" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="form-group">
                            <div class="form-group text-center">
                                <hr color="white">
                                <label for="streamKey" style="color: goldenrod;" hidden id='addedLinks'>Added
                                    Links</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="padding-left: 10px;" id='cards'>
                                    <div class="addedlinks card" hidden id='templateCard'>
                                        <div class="card-body">
                                            <i class="delicon fas fa-solid fa-trash"></i>
                                            <button type="submit" class="btn btn-danger" onclick="">Delete</button>
                                            <p class=" card-text" style="font-size: smaller;">
                                                <a class="thelink" href=""
                                                    target="">https://www.twitch.tv/streams/streamKey
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                <form action="" method="get" id='add'>
                                    <div class="form-group">
                                        <label for="videoLink">Add video URL</label>
                                        <input type="url" class="form-control" id="videoLink" name="videoLink"
                                            placeholder="Not a YouTube video link, watch the video above" required>
                                    </div>
                                    <button type="submit" id='add' class="addsubmit btn btn-primary"
                                        onclick="">Add</button>
                                </form>
                                <button type="button" class="finishsubmit btn btn-success"
                                    onclick="finish()">Finish</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>