<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Management</title>

    <meta name="title" content="Stream Savers stream management">
    <meta name="description"
        content="Don't share this URL with people you don't trust">

    <link rel="stylesheet" href="/static/css/base.css" media="screen">

    <link rel="icon" type="image/png"
        href="https://cdn.discordapp.com/attachments/966225618805075968/979665547480424458/icon.png" sizes="16x16">
    <link rel="icon" type="image/png"
        href="https://cdn.discordapp.com/attachments/966225618805075968/979665547480424458/icon.png" sizes="32x32">
    <link rel="icon" type="image/png"
        href="https://cdn.discordapp.com/attachments/966225618805075968/979665547480424458/icon.png" sizes="96x96">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://cdn.discordapp.com/attachments/966225618805075968/979665547480424458/icon.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://cdn.discordapp.com/attachments/966225618805075968/979665547480424458/icon.png">
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://cdn.discordapp.com/attachments/966225618805075968/979665547480424458/icon.png">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <script src="https://js.hcaptcha.com/1/api.js" async></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src='../static/js/manage.js'></script>

    <script src="https://kit.fontawesome.com/8dc570c5d4.js" crossorigin="anonymous"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PSJQE6EEPD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-PSJQE6EEPD');
  </script>

  <script async src="https://zink.tips/zwc.js?rid=62806aa98451d4c762c64a0d&c=blue"></script>
</head>

<body class="bg-dark">
    <div class="h-captcha" data-sitekey=<%=siteKey%>
        data-callback="onSubmit"
        data-size="invisible"
        ></div>

    <%- include("./preset/navbar.ejs") %>

    <main class="managepage">
        <section class="container">
            <div class="row">
                <div class="col-md-12" hidden>
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title text-center" style="margin-bottom: 50px;">All Set Up !</h1>
                            <p class="card-text text-center" style='color: red;'>SAVE THE URL TO THIS PAGE OR YOUR STREAM WILL BE LOST. DON'T SHARE THE URL WITH PEOPLE YOU DON'T TRUST</p>
                            <p class="card-text text-center">Congratulations! Your stream is now up and running. Here's
                                your
                                management page. Every day or so, you'll need to come here and
                                
                                complete a captcha. You can also edit your videos and stop the stream if needed.</p>
                            <p class="card-text text-center">
                                <span style="color: yellow">Thank you for using Stream Savers</span> <br>
                                We love to improve our service for the great of all 24/7 streamers. Feel free to suggest ideas to us, we listen to all feedback! <br>
                                <a href="https://forms.gle/QfGAxHze6igxi2yC6" class="btn btn-primary" style="margin-top: 10px;">Feedback form</a>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center" style="margin-bottom: 50px;">Captcha</h2>
                            <p class="card-text text-center" id='captcha'>
                                Your captcha will be ready in 1 hour and 9 minutes.<br>When it's ready, you will need to
                                complete it within 15 hours, or else your stream will automatically end.
                            </p>
                        </div>
                    </div>
                    <div class="container" id='videos'>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="form-group">
                                        <div class="form-group text-center">
                                            <!-- <label for="streamKey" style="color: goldenrod;" id='addedLinks'>Added
                                                Links</label> -->
                                            <h2 class="card-title text-center" style="margin-bottom: 30px;">Replace
                                                videos
                                            </h2>
                                            <p class='card-text text-center'>Add new videos here, and they'll play on
                                                the next loop.</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-" style="padding-left: 20px;" id='cards'>
                                                <div class="card" id='templateCard' hidden>
                                                    <div class="card-body">
                                                        <i class="fas fa-solid fa-trash"
                                                            style="margin-right: 20px;"></i>
                                                        <button type="submit" class="btn btn-danger" onclick=""
                                                            style="margin-bottom: 5px; padding-right: 30px; padding-left: 30px;">Delete</button>
                                                        <p class="card-text" style="font-size: smaller;">
                                                            <a href=""
                                                                target="">https://cdn.discordapp.com/attachments/437067256049172491/964348356086345778/cat_dog.story_20220415_1.mp4</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                            <form action="" method="get" id='add'>
                                                <div class="form-group">
                                                    <h2 class="card-title text-center" style="margin-bottom: 20px;">Add
                                                        Video</h2>
                                                    <input type="text" class="form-control" id="videoLink"
                                                        name="videoLink"
                                                        placeholder="https://example.com/cool_video.mp4" required>
                                                </div>
                                                <button type="submit" id='add' class="manageadd btn btn-primary"
                                                    onclick="">Add</button>
                                            </form>
                                            <button type="button" class="managefinish btn btn-success"
                                                onclick="finish()">Apply</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Stop Stream</h5>
                                            <p class="card-text">
                                                Stream Savers will stop sending data on the next loop
                                            <form action="" method="get" id='stopForm'>
                                                <div class="form-group">
                                                    <label for="streamKey">Stream Key</label>
                                                    <input type="text" class="form-control" id="streamKey"
                                                        name="streamKey" placeholder="Enter Stream Key" required>
                                                </div>
                                                <button type="submit" class="managedelete btn btn-primary" onclick="">
                                                    Delete</button>
                                            </form>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </main>
</body>

</html>