@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
    font-family: "Montserrat",
    sans-serif;
}

.bg-discord {
    background-color: #5865f200;
}

html {
    scroll-behavior: smooth;
}

.bg-dark {
    background-image: url(../img/back.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 50px;
}

.navbar {
    padding: 20px;
}

.navbar-brand {
    font-size: 30px;
}

/* main */

.details {
    color: white;
    margin-top: 30px;
}

.details p {
    color: black;
}

.button-main button{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin: 50px;
}

.button-main button:hover {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}

.button-main a {
    margin: 100px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.button-main a:hover {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}

.how-it-works {
    margin-top: 15px;
    margin-bottom: 50px;
}

.how-it-works h1 {
    color: white;
}

.how-it-works p {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.card {
    background-color: #1b1b1b;
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    background-color: #5865f200;
    border-radius: 10px;
    padding: 20px;
}

.card-body p {
    font-family: 'Courier New',
    Courier,
    monospace;
}

.showcase {
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-size: larger;
}

.showvideo {
    margin-left: 20px;
}

.leftside {
    margin-top: 170px;
}

.rightside {
    margin-top: 170px;
}


/* footer */

.foot {
    padding-top: 30px;
    margin-bottom: 50px;
}

.foot a {
    font: bolder;
    margin: 50px;
    color: #1b1b1b;
}


/* add page */

.continuebtn {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 35%;
    margin-top: 30px;
}

.continuebtn:hover {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}

/* add hidden */

.ytvideo {
    margin-left: 200px;
}

.addsubmit {
    /* margin-right: 500px; */
    margin-left: 38%;
    margin-bottom: 5px;
    padding-right: 100px;
    padding-left: 100px;
}

.finishsubmit {
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 39.3%;
    margin-top: 20px;
    color: black;
}

.delicon {
    margin-right: 20px;
}

.btn:hover {
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
}

.addedlinks button {
    margin-right: 500px;
    margin-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
}

/* management */

.manageadd {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 37.2%;
}

.managefinish {
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 38.5%;
    margin-top: 20px;
    color: black;
}

.managedelete {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 36%;
}

@media screen and (max-width: 1000px) {

    .card {
        margin: 10px;
    }

    .card-body {
        padding: 10px;
    }

    .foot {
        padding-top: 10px;
        margin-bottom: 10px;
    }

    .foot a {
        font: bolder;
        margin: 10px
    }

    .button-main button {
        margin: 10px;
    }

    .button-main a {
        margin: 10px;
    }

    .how-it-works {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .how-it-works p {
        font-size: 15px;
        font-weight: bold;
        color: white;
    }

    .card {
        background-color: #1b1b1b;
        border-radius: 10px;
        color: white;
        padding: 10px;
        margin: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-body {
        background-color: #5865f200;
        border-radius: 10px;
        padding: 10px;
    }  

    .navbar-nav {
        margin-left: auto;
    }

    .nav-item {
        margin-right: 10px;
    }  

    .navbar {
        padding: 10px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .details {
        color: white;
    }

    .details p {
        color: black;
    }

    .button-main button{
        background-color: black;
        border-radius: 10px;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        border: none;
        margin: 10px;
    }

    .button-main button:hover {
        transform: scale(1.15);
        transition: all 0.5s ease-in-out;
    }

    .button-main a {
        margin: 10px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .button-main a:hover {
        transform: scale(1.15);
        transition: all 0.5s ease-in-out;
    }

    .how-it-works {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .how-it-works p {
        font-size: 15px;
        font-weight: bold;
        color: black;
    }

    .card {
        background-color: #1b1b1b;
        border-radius: 5px;
        color: white;
        padding: 3px;
        margin: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .card-body {
        background-color: #5865f200;
        border-radius: 10px;
        padding: 10px;
    }

    .card-body p {
        font-size: 13px;
        font-weight: lighter;
        font-family: 'Courier New', Courier, monospace;
    }

    .leftside {
        margin-top: 0px;
        margin-left: 160px;
        margin-bottom: 10px;
    }

    .rightside {
        margin-top: 10px;
        margin-left: 160px;
    }

    .showvideo {
        height: auto;
        width: 70%;
        margin-left: 60px;
    }

    .foot {
        padding-top: 10px;
        margin-bottom: 10px;
    }

    .foot a {
        font: bolder;
        margin: 10px
    }

    .button-main button {
        margin: 10px;
    }

    .button-main a {
        margin: 10px;
    }

    .how-it-works {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* add page */

    .continuebtn {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 27%;
    }

    /* add page hidden */

    .addsubmit {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 25%;
    }

    .finishsubmit {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 23%;
    }

    .form-control {
        font-size: 13px;
        font-weight: bold;
        font-family: 'Courier New',
        Courier,
        monospace;
    }

    /* management */

    .manageadd {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 26.2%;
    }
    
    .managefinish {
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 27.5%;
        margin-top: 20px;
        color: black;
    }

    .managedelete {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 18%;
    }
}

@media screen and (max-width: 1450px) {
    .nav-help-list {
        padding-left: 60px;
    }

    .delicon {
        margin-left: 1px;
    }

    .ytvideo {
        height: auto;
        width: 70%;
        margin-left: 60px;
    }

    .addedlinks button {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20%;
    }
}